#################################
###ShoutcastUtilities Settings###
#################################

###############
# Keybindings #
###############
enable_keybindings: true      #Set to 'false' to disable all hotkeys


modifier_key :          3640  #ALT GR: Universal meta-key as identifier. This key has to be pressed for the others to work.
commit_key:             82    #Numpad 0: Commit the current values in ALL of the programs linked
team_a_increment_key:   71    #Numpad 7: Team Score Manager: Increase score for Team A
team_a_decrement_key:   75    #Numpad 4: Team Score Manager: Decrease score for Team A
team_b_increment_key:   73    #Numpad 9: Team Score Manager: Increase score for Team B
team_b_decrement_key:   77    #Numpad 6: Team Score Manager: Decrease score for Team B
switch_teams_key:       72    #Numpad 8: Team Score Manager: Swap teams